AspnWebServiceDB/Connected Services/SeviceDados/ServiceDB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDados">
        <s:complexType />
      </s:element>
      <s:element name="GetDadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDadosResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDadosSoapIn">
    <wsdl:part name="parameters" element="tns:GetDados" />
  </wsdl:message>
  <wsdl:message name="GetDadosSoapOut">
    <wsdl:part name="parameters" element="tns:GetDadosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceDBSoap">
    <wsdl:operation name="GetDados">
      <wsdl:input message="tns:GetDadosSoapIn" />
      <wsdl:output message="tns:GetDadosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceDBSoap" type="tns:ServiceDBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDados">
      <soap:operation soapAction="http://tempuri.org/GetDados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceDBSoap12" type="tns:ServiceDBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDados">
      <soap12:operation soapAction="http://tempuri.org/GetDados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDB">
    <wsdl:port name="ServiceDBSoap" binding="tns:ServiceDBSoap">
      <soap:address location="https://localhost:44352/ServiceDB.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceDBSoap12" binding="tns:ServiceDBSoap12">
      <soap12:address location="https://localhost:44352/ServiceDB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>